$primary: #305185;
$secondary: #607b90;
$info: #f7e25c;
$dark: #07264e;
$white: #ffffff;
$light: #bfc4c6;
$success: #27b56b;
$warning: #e8d024;
$danger: #f91d12;

@import "../Proyecto-Dow/node_modules/bootstrap/scss/bootstrap.scss";